body {
    font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
    background-color: #F5F5F5;
    color: #666;
    padding: 0;
    margin: 0;
}

article.login {
    margin-top: 100px;
}

article {
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
    background-color: white;
    box-shadow: 1px 1px 5px #AAA;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 32px;
}

article.short {
    max-width: 400px;
}

article a {
    color: #55ACEE;
}

article a.button {
    display: block;
    padding: 16px 16px 16px 48px;
    text-decoration: none;
    background: transparent url("img/twitter.png") no-repeat 10px 10px;
}

section {
    padding: 16px;
}

section + section {
    border-top: 1px solid #e5e5e5;
}

h1 {
    padding: 8px 16px;
    margin: 0;
    font-size: 16px;
    background-color: #444;
    color: white;
}

h1:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

h1.collapser {
    background: #444 url('img/tick-right.png') no-repeat 6px;
    padding-left: 30px;
    border-bottom: 1px solid #AAA;
    cursor: pointer;
}

h1.expanding {
    background: #444 url('img/tick-down.png') no-repeat 3px;
    padding-left: 30px;
}

header {
    background-color: #444;
    height: 64px;
    line-height: 64px;
}

header a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    color: #E5E5E5;
    height: 64px;
    line-height: 64px;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}

header a:hover {
    background-color: #555;
    color: white;
}

header a.right {
    float: right;
}

header a.twitter {
    background: transparent url("img/twitter-black.png") no-repeat 6px 6px;
    padding-left: 64px;
}

form label {
    display: block;
    width: 120px;
    float: left;
    margin-top: 4px;
}

form input[type=text], form input[type=password] {
    width: 250px;
    padding: 4px;
    border: 1px solid #AAA;
    font-size: 16px;
}

form input[type=submit] {
    display: block;
    padding: 4px 18px;
    border: 1px solid #AAA;
    background-color: #F5F5F5;
    float: left;
}

form p {
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 0;
}

.clear {
    clear: both;
}

.template {
    display: none;
}

#message-list {
    padding: 0;
}

.message {
    font-size: 14px;
    padding: 6px 16px;
    border-top: 1px dotted #AAA;
}

.message:first-child {
    border-top: none;
}

.message .body {
}

.message .when {
    float: left;
}