{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript" src="{{STATIC_URL}}js/update.js"></script>

    <script type="text/javascript">
        window.last_update_id = {{account.get_last_update.id|default:"null"}};
    </script>
{% endblock %}

{% block top %}
    <header>
        <a class="twitter" href="http://twitter.com/{{twitter.screen_name}}" style="background-image: url({{twitter.profile_image_url}})">{{ twitter.screen_name }}</a>
        <a class="right" href="/accounts/logout/">Logout</a>
    </header>
{% endblock %}

{% block content %}
    <div class="template" id="message-template">
        {% include "message.html" %}
    </div>

    <article>
        <h1>Settings</h1>
        <section class="collapse">
            <form action="/" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="save">
                <div class="clear"></div>
            </form>
        </section>

        <h1>Messages &middot; <span id="status">{{ account.get_last_update|default:""|safe }}</span></h1>
        <section id="message-list">
            {% for message in messages %}
                {% include "message.html" %}
            {% empty %}
                <em>No messages yet.</em>
            {% endfor %}
        </section>
    </article>
{% endblock %}
